spring:
  application:
    name: engine
  liquibase.change-log: 'classpath:database/changelog.xml'
  liquibase:
    enabled: true
  datasource:
    url: jdbc:postgresql://${PGHOST:0.0.0.0}:${PGPORT:32000}/${PGDATABASE:postgres}
    username: ${PGUSER:postgres}
    password: ${PGPASSWORD:postgres_password}
    driverClassName: org.postgresql.Driver
  transaction:
    default-timeout: 120
  jpa:
    hibernate:
      naming:
        implicit-strategy: 'org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl'
        physical-strategy: 'org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl'
      format_sql: true
      ddl-auto: create
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        dialect: 'org.hibernate.dialect.PostgreSQLDialect'
        format_sql: true
        id.new_generator_mappings: false
        globally_quoted_identifiers: true
        jdbc:
          lob:
            non_contextual_creation: true
  cloud:
    kubernetes:
      discovery:
        all-namespaces: true
      secrets:
        enable-api: true
server:
  port: 8086

